body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FBFBFB;
    line-height: 1.5;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 80px;
}

h1 {
    font-size: 40px;
}

.pokemon-button {
    
    
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
    

    }

ul.pokemon-list li {
        margin-bottom: 10px;
    }