body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FBFBFB;
    line-height: 1.5;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 80px;
}

h1 {
    font-size: 40px;
}

